body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
    font-size: x-large;
    background: linear-gradient(160deg, rgb(81, 81, 238) 0 30%, white 30% 60%, rgb(81, 81, 238) 60% 90%, white 90% 100%);
}

.about-me {
    display: flex;
    gap: 2rem;
    justify-content: center; 
    align-items: center;

    flex-wrap: wrap;
    padding-top: 3rem;

    color: white;
}

.about-me picture {
    width: min-content;

    text-align: center;
    justify-self: center;
}

.about-me picture h1 {
    position: relative;
    top: 4rem;
    font-size: 3rem;
    text-shadow: rgb(93, 93, 245) 1px 0 20px;
    margin: 0;
}

@media (max-width: 360px) {   
    .about-me img {
        width: 100vw;
    }
}

.text {
    background-color: white;
    color: rgb(81, 81, 238);
}

.about-me .text {
    max-width: 750px;
    padding: 1.5rem;

    border-radius: 5px;
    border: 3px solid rgb(81, 81, 238);
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.work {
    background-color: white;
    border: 3px solid rgb(81, 81, 238);
    max-width: 400px;
    padding: 3rem;
}

.work a {
    color: rgb(49, 49, 241);
}

.work img {
    width: 100%;
}

.work h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work a {
    justify-self: end;
}

footer {
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

footer a {
    color: wheat;
}